<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="auction_gabitovEntities" connectionString="metadata=res://*/Model.AuctionModel.csdl|res://*/Model.AuctionModel.ssdl|res://*/Model.AuctionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gogs.wsr.ru;initial catalog=auction_gabitov;persist security info=True;user id=450-21;password=450-21;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="auction_gabitovEntities1" connectionString="metadata=res://*/Model.AuctionModel.csdl|res://*/Model.AuctionModel.ssdl|res://*/Model.AuctionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gogs.wsr.ru;initial catalog=auction_gabitov;persist security info=True;user id=450-21;password=450-21;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>